@tailwind base;
@tailwind components;
@tailwind utilities;

.nav .links{
    @apply px-6 py-4 text-white relative font-semibold hover:bg-white hover:text-black transition-[.3s] rounded-sm
}


form input{
    @apply p-3 border rounded-md w-[80%] my-3
}

.reloaders{
  @apply w-screen h-screen absolute flex justify-center items-center top-0 left-0 right-0 bottom-0 bg-gray-100 flex-col space-y-3 text-[22px] text-gray-600 font-semibold
}

.hoveritem{
  position: absolute;
  display: none;
  background-color: rgb(17, 22, 39);
  width: 150px;
  height: 230px;
  padding: 10px 0;
  text-align: center;
  top: 40px;
  font-weight: 600;
  border: 2px solid white;
  right: -55px;
  padding: 10px;
}

.hoveritem .link{
  color: white;
  background-color: transparent;
  display: block;
  width: 100%;
}

.hoveritem .link:hover {
  background-color: white;
  color: black;
 
}


/* 
.ans{
    background-color: #c0c0c0;
} */


/* loader css goes here  */
.lds-ring {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #818181 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  /* main whole body loader css goes here  */

  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #000;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

  .sideLink{
    background: #16466615;
  }

  .mysidelink{
    padding:7px;
    border-radius: 5px;
    font-weight: 700;
  }

  .agas{
    background: #dadfe2;
  }